.playerContainerOff{
  display: none;
  font-size: 0;
  transition: 1s ease;
}

.playerContainer{
  width: 26.5rem;
  height: 100vh;

  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple-500);
  color: var(--white);
  position: relative;
  z-index: 9999;

  header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  strong{
    font-family: Lexend, sans-serif;
    font-weight: 600;
  }

  footer{
    align-self: stretch;

    &.empty .progress{
      opacity: 0.5;
    }
  }
}

.btnClose{
  font-size: 0;
  visibility: hidden;
}

.enablePlayer {
  text-align: center;

  img {
    width: 15rem;
    height: 15rem;
    border-radius: 1.5rem;
    max-width: 100%;
  }

  strong{
    font-family: Lexend, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 2rem;
    display: block;
  }

  span{
    display: block;
    margin-top: 2rem;
    opacity: 0.7;
  }
}

.emptyPlayer{
  width: 100%;
  height: 20rem;
  border: 2px dashed var(--purple-300);
  border-radius: 1.5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem;
  background: linear-gradient(143.8deg, rgba(145, 100,250,0.8) 0%, rgba(0,0,0,0) 100%);
}

.progress{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;

  span{
    display: inline-block;
    width: 4rem;
    text-align: center;
  }

}

.slider{
  flex: 1;

  .emptySlider{
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--purple-300);
  }
}

.buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1.5rem;

  button{
    background: transparent;
    border: 0;
    font-size: 0;
    transition: filter 0.2s;
   
    &:hover:not(:disabled){
      filter: brightness(0.7);
    }

    &.isActive{
      filter: brightness(0.2) invert(0.35) sepia(1) saturate(3)  hue-rotate(100deg);
    }

    &.isActive:hover{
      filter: brightness(0.6);
    }

      &.playButton {
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
        background-color: var(--purple-400);

        &:hover:not(:disabled){
          filter: brightness(0.95);
        }
      }

      &:disabled{
        cursor: default;
        opacity: 0.6;
      }
  }

}

@media screen and (max-width: 1080px){
  .playerContainer{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
  }

  .btnClose{
    visibility: visible;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    border: none;
    font-size: 2rem;
    background: transparent;

    svg{
      color: var(--purple-300);
      transition: color 0.5s;
    }

    &:hover{

      svg{
        color: var(--white);
      }
    }
  }
}

@media screen and (max-width: 568px){
  .playerContainer{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    padding: 2rem;
    z-index: 9999;
  }

  .buttons{
    button{
      &.playButton{
        width: 5rem;
      }
    }
  }
}
